
\.gradle/3\.1/taskArtifacts/cache\.properties

\.gradle/3\.1/taskArtifacts/cache\.properties\.lock

\.gradle/3\.1/taskArtifacts/fileHashes\.bin

\.gradle/3\.1/taskArtifacts/fileSnapshots\.bin

\.gradle/3\.1/taskArtifacts/taskArtifacts\.bin

\.idea/\.name

\.idea/artifacts/Gradle___jiga___jiga_0_1_war__exploded_\.xml

\.idea/artifacts/Gradle___jiga___jiga_0_1_war\.xml

\.idea/compiler\.xml

\.idea/gradle\.xml

\.idea/libraries/Gradle__antlr_antlr_2_7_7\.xml

\.idea/libraries/Gradle__aopalliance_aopalliance_1_0\.xml

\.idea/libraries/Gradle__bouncycastle_bcmail_jdk14_138\.xml

\.idea/libraries/Gradle__ch_qos_logback_logback_classic_1_1_11\.xml

\.idea/libraries/Gradle__ch_qos_logback_logback_core_1_1_11\.xml

\.idea/libraries/Gradle__com_bertramlabs_plugins_asset_pipeline_core_2_14_2\.xml

\.idea/libraries/Gradle__com_bertramlabs_plugins_asset_pipeline_grails_2_14_2\.xml

\.idea/libraries/Gradle__com_fasterxml_classmate_1_3_4\.xml

\.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_8_0\.xml

\.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_8_11\.xml

\.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_8_11_1\.xml

\.idea/libraries/Gradle__com_google_guava_guava_annotations_r03\.xml

\.idea/libraries/Gradle__com_google_guava_guava_base_r03\.xml

\.idea/libraries/Gradle__com_google_guava_guava_io_r03\.xml

\.idea/libraries/Gradle__com_googlecode_concurrentlinkedhashmap_concurrentlinkedhashmap_lru_1_4_2\.xml

\.idea/libraries/Gradle__com_h2database_h2_1_4_197\.xml

\.idea/libraries/Gradle__com_lowagie_itext_2_0_8\.xml

\.idea/libraries/Gradle__com_nimbusds_nimbus_jose_jwt_4_8\.xml

\.idea/libraries/Gradle__com_oracle_ojdbc14_10_2_0_4\.xml

\.idea/libraries/Gradle__com_sun_mail_javax_mail_1_5_6\.xml

\.idea/libraries/Gradle__commons_codec_commons_codec_1_10\.xml

\.idea/libraries/Gradle__commons_collections_commons_collections_3_2_2\.xml

\.idea/libraries/Gradle__commons_io_commons_io_2_4\.xml

\.idea/libraries/Gradle__commons_lang_commons_lang_2_6\.xml

\.idea/libraries/Gradle__commons_logging_commons_logging_1_2\.xml

\.idea/libraries/Gradle__commons_validator_commons_validator_1_5_1\.xml

\.idea/libraries/Gradle__dom4j_dom4j_1_6_1\.xml

\.idea/libraries/Gradle__javax_activation_activation_1_1\.xml

\.idea/libraries/Gradle__javax_el_el_api_2_1_2_b03\.xml

\.idea/libraries/Gradle__javax_el_javax_el_api_2_2_4\.xml

\.idea/libraries/Gradle__javax_mail_javax_mail_api_1_5_6\.xml

\.idea/libraries/Gradle__javax_servlet_javax_servlet_api_3_1_0\.xml

\.idea/libraries/Gradle__javax_transaction_jta_1_1\.xml

\.idea/libraries/Gradle__javax_validation_validation_api_1_1_0_Final\.xml

\.idea/libraries/Gradle__joda_time_joda_time_2_9_9\.xml

\.idea/libraries/Gradle__junit_junit_4_12\.xml

\.idea/libraries/Gradle__net_jcip_jcip_annotations_1_0\.xml

\.idea/libraries/Gradle__net_minidev_json_smart_1_3_1\.xml

\.idea/libraries/Gradle__net_sf_ehcache_ehcache_2_10_4\.xml

\.idea/libraries/Gradle__opensymphony_sitemesh_2_4\.xml

\.idea/libraries/Gradle__org_apache_commons_commons_lang3_3_1\.xml

\.idea/libraries/Gradle__org_apache_geronimo_specs_geronimo_jta_1_1_spec_1_1_1\.xml

\.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_core_8_5_29\.xml

\.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_el_8_5_29\.xml

\.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_websocket_8_5_29\.xml

\.idea/libraries/Gradle__org_apache_tomcat_tomcat_annotations_api_8_5_29\.xml

\.idea/libraries/Gradle__org_apache_tomcat_tomcat_jdbc_8_5_29\.xml

\.idea/libraries/Gradle__org_apache_tomcat_tomcat_juli_8_5_29\.xml

\.idea/libraries/Gradle__org_codehaus_groovy_groovy_2_4_15\.xml

\.idea/libraries/Gradle__org_codehaus_groovy_groovy_json_2_4_15\.xml

\.idea/libraries/Gradle__org_codehaus_groovy_groovy_sql_2_4_15\.xml

\.idea/libraries/Gradle__org_codehaus_groovy_groovy_templates_2_4_15\.xml

\.idea/libraries/Gradle__org_codehaus_groovy_groovy_test_2_4_15\.xml

\.idea/libraries/Gradle__org_codehaus_groovy_groovy_xml_2_4_15\.xml

\.idea/libraries/Gradle__org_glassfish_web_el_impl_2_1_2_b03\.xml

\.idea/libraries/Gradle__org_grails_grails_async_3_3_2\.xml

\.idea/libraries/Gradle__org_grails_grails_bootstrap_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_codecs_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_core_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_databinding_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_datastore_core_6_1_9_RELEASE\.xml

\.idea/libraries/Gradle__org_grails_grails_datastore_gorm_6_1_9_RELEASE\.xml

\.idea/libraries/Gradle__org_grails_grails_datastore_gorm_hibernate_core_6_1_9_RELEASE\.xml

\.idea/libraries/Gradle__org_grails_grails_datastore_gorm_hibernate5_6_1_9_RELEASE\.xml

\.idea/libraries/Gradle__org_grails_grails_datastore_gorm_support_6_1_9_RELEASE\.xml

\.idea/libraries/Gradle__org_grails_grails_datastore_gorm_test_6_1_9_RELEASE\.xml

\.idea/libraries/Gradle__org_grails_grails_datastore_gorm_validation_6_1_9_RELEASE\.xml

\.idea/libraries/Gradle__org_grails_grails_datastore_rest_client_6_1_9_RELEASE\.xml

\.idea/libraries/Gradle__org_grails_grails_datastore_web_6_1_9_RELEASE\.xml

\.idea/libraries/Gradle__org_grails_grails_encoder_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_events_3_3_2\.xml

\.idea/libraries/Gradle__org_grails_grails_events_compat_3_3_2\.xml

\.idea/libraries/Gradle__org_grails_grails_events_transform_3_3_2\.xml

\.idea/libraries/Gradle__org_grails_grails_gorm_testing_support_1_1_4\.xml

\.idea/libraries/Gradle__org_grails_grails_gsp_3_3_2\.xml

\.idea/libraries/Gradle__org_grails_grails_logging_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_plugin_codecs_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_plugin_controllers_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_plugin_databinding_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_plugin_datasource_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_plugin_domain_class_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_plugin_i18n_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_plugin_interceptors_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_plugin_mimetypes_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_plugin_rest_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_plugin_services_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_plugin_url_mappings_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_plugin_validation_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_spring_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_taglib_3_3_2\.xml

\.idea/libraries/Gradle__org_grails_grails_test_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_testing_support_1_1_4\.xml

\.idea/libraries/Gradle__org_grails_grails_validation_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_web_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_web_boot_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_web_common_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_web_databinding_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_web_gsp_3_3_2\.xml

\.idea/libraries/Gradle__org_grails_grails_web_gsp_taglib_3_3_2\.xml

\.idea/libraries/Gradle__org_grails_grails_web_jsp_3_3_2\.xml

\.idea/libraries/Gradle__org_grails_grails_web_mvc_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_grails_web_sitemesh_3_3_2\.xml

\.idea/libraries/Gradle__org_grails_grails_web_taglib_3_3_2\.xml

\.idea/libraries/Gradle__org_grails_grails_web_testing_support_1_1_4\.xml

\.idea/libraries/Gradle__org_grails_grails_web_url_mappings_3_3_5\.xml

\.idea/libraries/Gradle__org_grails_plugins_async_3_3_2\.xml

\.idea/libraries/Gradle__org_grails_plugins_audit_logging_3_0_1\.xml

\.idea/libraries/Gradle__org_grails_plugins_cache_4_0_0\.xml

\.idea/libraries/Gradle__org_grails_plugins_converters_3_3_1\.xml

\.idea/libraries/Gradle__org_grails_plugins_events_3_3_2\.xml

\.idea/libraries/Gradle__org_grails_plugins_gsp_3_3_2\.xml

\.idea/libraries/Gradle__org_grails_plugins_hibernate5_6_1_9\.xml

\.idea/libraries/Gradle__org_grails_plugins_mail_2_0_0\.xml

\.idea/libraries/Gradle__org_grails_plugins_spring_security_core_3_2_0\.xml

\.idea/libraries/Gradle__org_grails_plugins_spring_security_rest_2_0_0_M2\.xml

\.idea/libraries/Gradle__org_grails_plugins_views_json_1_2_7\.xml

\.idea/libraries/Gradle__org_grails_plugins_views_json_templates_1_2_7\.xml

\.idea/libraries/Gradle__org_grails_views_core_1_2_7\.xml

\.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3\.xml

\.idea/libraries/Gradle__org_hibernate_common_hibernate_commons_annotations_5_0_1_Final\.xml

\.idea/libraries/Gradle__org_hibernate_hibernate_core_5_1_5_Final\.xml

\.idea/libraries/Gradle__org_hibernate_hibernate_validator_5_3_6_Final\.xml

\.idea/libraries/Gradle__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final\.xml

\.idea/libraries/Gradle__org_jasig_cas_client_cas_client_core_3_4_1\.xml

\.idea/libraries/Gradle__org_jasig_cas_client_cas_client_support_saml_3_4_1\.xml

\.idea/libraries/Gradle__org_javassist_javassist_3_21_0_GA\.xml

\.idea/libraries/Gradle__org_jboss_jandex_2_0_3_Final\.xml

\.idea/libraries/Gradle__org_jboss_logging_jboss_logging_3_3_2_Final\.xml

\.idea/libraries/Gradle__org_objenesis_objenesis_1_4\.xml

\.idea/libraries/Gradle__org_pac4j_pac4j_cas_1_8_3\.xml

\.idea/libraries/Gradle__org_pac4j_pac4j_core_1_8_3\.xml

\.idea/libraries/Gradle__org_pac4j_pac4j_oauth_1_8_3\.xml

\.idea/libraries/Gradle__org_scribe_scribe_1_3_6\.xml

\.idea/libraries/Gradle__org_slf4j_jcl_over_slf4j_1_7_25\.xml

\.idea/libraries/Gradle__org_slf4j_jul_to_slf4j_1_7_25\.xml

\.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_25\.xml

\.idea/libraries/Gradle__org_spockframework_spock_core_1_1_groovy_2_4\.xml

\.idea/libraries/Gradle__org_spockframework_spock_spring_1_1_groovy_2_4\.xml

\.idea/libraries/Gradle__org_springframework_boot_spring_boot_1_5_12_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_boot_spring_boot_actuator_1_5_12_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_boot_spring_boot_autoconfigure_1_5_12_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_1_5_12_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_actuator_1_5_12_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_logging_1_5_12_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_tomcat_1_5_12_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_boot_spring_boot_test_1_5_12_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_security_spring_security_core_4_2_5_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_security_spring_security_web_4_2_5_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_spring_aop_4_3_16_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_spring_beans_4_3_16_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_spring_context_4_3_16_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_spring_context_support_4_3_16_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_spring_core_4_3_16_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_spring_expression_4_3_16_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_spring_jdbc_4_3_16_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_spring_orm_4_3_16_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_spring_test_4_3_16_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_spring_tx_4_3_16_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_spring_web_4_3_16_RELEASE\.xml

\.idea/libraries/Gradle__org_springframework_spring_webmvc_4_3_16_RELEASE\.xml

\.idea/libraries/Gradle__org_yaml_snakeyaml_1_17\.xml

\.idea/libraries/Gradle__xalan_serializer_2_7_2\.xml

\.idea/libraries/Gradle__xml_apis_xml_apis_1_4_01\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/modules/client/client\.iml

\.idea/modules/furukawajiga\.iml

\.idea/modules/jiga\.iml

\.idea/modules/server/server_main\.iml

\.idea/modules/server/server_test\.iml

\.idea/modules/server/server\.iml

\.idea/vcs\.xml

\.idea/workspace\.xml

build

.gradle
