.text-almofarixado-codigo {
  font-size: 1.3em;
  font-weight: bold;
}
.ghost-button {
  padding: 0 !important;
  border: 0 !important;
}
.almoxarifado-modal strong {
  font-size: 14px;
}
.almoxarifado-row-table {
  margin-top: 15px;
}
